[project]
name = "entra-cert-watch"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "cryptography>=46.0.3",
    "lxml>=6.0.2",
    "requests>=2.32.5",
]
