name: Build and push the image

# triggered on push on master
on:
  push:
    branches:
      - master

## GITHUB_TOKEN authentication
permissions:
  contents: write

jobs:
    buildandpush:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v3
              with:
                ref: ${{ github.ref_name }}

            # https://github.com/marketplace/actions/docker-setup-buildx
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v2

            # https://github.com/docker/login-action#docker-hub
            - name: Login to Docker Hub
              uses: docker/login-action@v2
              with:
                username: ${{ secrets.DOCKER_HUB_USERNAME }}
                password: ${{ secrets.DOCKER_HUB_TOKEN }}

            # https://docs.docker.com/build/ci/github-actions/cache/
            - name: Build latest release and push to Docker Hub
              uses: docker/build-push-action@v4
              with:
                context: .
                platforms: linux/amd64
                push: true
                cache-from: type=gha
                cache-to: type=gha,mode=max
                tags: |
                    deltablot/entra-cert-watch:stable
